@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<hr/>
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName), @Html.DisplayNameFor(model => model.StylistSpecialty): @Html.DisplayFor(model => model.StylistSpecialty)</h3>

<ul>
    @if(@Model.Clients.Count == 0)
    {
        <p>no clients found </p>
    }
    @foreach(Client client in @Model.Clients)
    {
        <h3><li>Name of the client: @client.ClientName</li></h3>
    }
</ul>
<hr />
<h3>@Html.ActionLink("Add new  client","Create","Clients")</h3>
<h3>@Html.ActionLink("Update Stylist","Update",new {updateID=Model.StylistId})</p>
<h3>@Html.ActionLink("Delete Stylist","Delete",new {deleteID=Model.StylistId})</h3>
<h3>@Html.ActionLink("Back to list of Stylists","Index")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>
