@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist;
<h4>Update this Stylist: </h4><br>
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName), @Html.DisplayNameFor(model => model.StylistSpecialty): @Html.DisplayFor(model => model.StylistSpecialty)</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.StylistId)
    <h3>Please Enter new stylist name: @Html.TextBoxFor(model=> model.StylistName)</h3>
    <h3>Please Enter stylist's specialty:@Html.TextBoxFor(model=> model.StylistSpecialty)</h3>
   <h3> <input type ="submit" value="Update" /></h3>
}
<hr/>
<h3>@Html.ActionLink("Back to list of  stylists", "Index")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>