@{
  Layout = "_Layout";
}
<center>
 <h1>Welcome Eau Claire's Salon.</h1>
 <br>
 <br>
 <br>
 <hr/>
 <br>
 <p></p>
 <p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p> 
 <p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>
 <p>@Html.ActionLink("Search stylist by name", "SearchStylistByName","Stylists")</p>
 <p>@Html.ActionLink("Search stylists by name and specialty", "SearchStylistByNameAndSpecialty","Stylists")</p>
 <p>@Html.ActionLink("Search client by name", "SearchClientByName","Clients")</p>
 <p>@Html.ActionLink("Add a new stylist", "Create", "Stylists")</p> 
</center>