@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h4>Add a new client</h4>
@using (Html.BeginForm())
{
    <h3>Please enter @Html.LabelFor(model => model.ClientName): @Html.TextBoxFor(model => model.ClientName)</h3>
    <h3>Select @Html.LabelFor(model => model.Stylist) to add clients: @Html.DropDownList("StylistId")</h3>
    <h3><input type="submit" value="Submit in order to add a new client" /></h3>
}
<hr/>
<h3>@Html.ActionLink("Show all stylists", "Index","Stylists")</h3>
<h3>@Html.ActionLink("Return Home Page", "Index","Home")</h3>