@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Welcome Client's Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ClientName): @Html.DisplayFor(model => model.ClientName)</h3>
<hr />
<h3>@Html.ActionLink("Update client", "Update", new { updateID = Model.ClientId })</h3>
<h3>@Html.ActionLink("Delete client", "Delete", new { deleteID = Model.ClientId })</h3>
<h3>@Html.ActionLink("Back To Clients's List", "Index", "Clients")</h3>
<h3>@Html.ActionLink("Back to list", "Index")</h3>