@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;
<h4>Update this Client: </h4><br>
<h3>@Html.DisplayNameFor(model => model.ClientName): @Html.DisplayFor(model => model.ClientName)</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.ClientId)
    <h3>Please enter client to update:</h3>
   <h3> @Html.TextBoxFor(model=> model.ClientName)</h3><br>
   <h3> Select Stylist:  @Html.DropDownList("StylistId") </h3>
   <hr/>
    <h2><input type ="submit" value="Submit to update the client" /></h2>
}